.grid_12.alpha
  .inner-content
    = f.label :name, t(:name)
    %div= f.text_field :name, :class => 'big_orange_input'
    .clear
    = f.label :description, t(:description)
    %div= f.text_area :description, :cols => 90, :rows => 5
    .clear
    = f.label :content, t(:content)
    %div= f.text_area :content, :class => 'mceEditor'
    .clear
#right-sidebar.grid_4.omega
  .step.status.open
    - states_for_select = Paper.aasm_states.collect{ |state| [t(state.name, :scope => [:paper,:states]),state.name.to_s] }
    %div= f.select :aasm_current_state_with_event_firing, options_for_select(states_for_select, paper.state)
    = f.label :person_id, t('paper.author')
    %div= f.collection_select :person_id,Person.all, :id, :fullname, { :prompt => t(:please_select)}
    = f.label :published_at, t('paper.published_at')
    = f.text_field :published_at, :size => 10, :class => 'date-picker'
    .clear
  .step.open
    %a.small-icons.step-title{ :href => "#" }
      = "#{I18n.t('folder.associated_to').capitalize} :"
    #association-static-content-tree.inner-step.init-tree
      %ul
        = render :partial => 'admin/categories/associated_elements', :locals => { :association_id => 'category_ids', :element => paper, :category_ids => paper.category_ids, :categories => PaperCategory.find_all_by_parent_id(nil) }
    .clear
