= render :partial => 'admin/menus/lang_switcher'
- form_for [:admin, post], :html => { :id => 'wrap' } do |f|
  = render :partial => 'tabs_show'
  #content.grid_16.alpha.omega
    #general{:style => 'padding: 0'}
      = render :partial => 'general', :locals => {:f => f, :post => post }
      .clear
    #comments{:style => 'padding: 0'}
      = render :partial => 'comments', :locals => { :f => f, :post => post }
    #seo{:style => 'padding: 0'}
      = render :partial => 'seo', :locals => { :f => f, :post => post }
    .clear
