= render :partial => 'tabs'
= render :partial => 'admin/sidebars/left_sidebar', :locals => {:icon_class => 'posts', :sidebar_title => 'post.all', :tree_id =>'post-tree' }
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,t('post.create.action').capitalize, :class=>'big-icons create-post'), new_admin_post_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows

= dataTables_tag :url => admin_posts_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{t :name}'}","{'sTitle':'#{t 'post.author'}'}","{'sTitle':'#{t :status, :count => 1}'}","{'sTitle':'#{t :published_at}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
